* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Merriweather;
}
.header {
  background-image: url(images/Banner\ Image.png);
  height: 600px;
  width: 1300px;
  position: relative;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
}
.header-tex {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 32px;
}
.off {
  height: 806px;
  width: 800px;
  margin: auto;
  width: 50%;
  margin-top: 50px;
}
.off-tex {
  text-align: center;
}
.off h1 {
  color: red;
  font-size: 88px;
  font-weight: 700;
}
.off h6 {
  color: red;
  font-weight: 500;
  font-size: 24px;
}
.off h3 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
}
.welcome-section {
  height: 600px;
  width: 1300px;
  background-image: url(images/Vectorrr.png);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
.welcome {
  height: 600px;
  width: 1300px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-around;
}
.welcome-tex {
  text-align: left;
  padding: 166px;
}
.welcome h1 {
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
}
.welcome img {
  padding: 4.5em;
}
.join-now {
  text-align: center;
  position: relative;
  width: 1300px;
  height: 482px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
}
.join-now-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.join-now-text span {
  color: red;
}
.join-now-text button {
  background-color: #b3003b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
}
.join-now-text button:hover {
  background-color: blue;
}
.best-offer {
  display: flex;
  padding: 50px;
  text-align: center;
}
.best-offer-image {
  height: 409px;
  width: 33%;
  padding: 0.5em;
  border: 15px solid red;
  border-radius: 50%;
}
.best-offer-text {
  height: 255px;
  width: 33%;
  text-align: left;
  padding: 6.5em;
}
.best-offer-2024 {
  height: 255px;
  width: 33%;
  text-align: left;
  padding: 6.5em;
}
.best-offer span {
  color: red;
}
.holyday {
  height: 232px;
  width: 1300px;
  text-align: center;
  padding: 200px;
}
.holyday span {
  color: red;
}
.discount-section {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.discount-product1 {
  display: flex;
  position: relative;
  z-index: 1;
}
.discount-product2 {
  left: 20px;
}
.dicount-product {
  position: relative;
}
.dicount-image {
  position: absolute;
  top: 67px;
  left: -153px;
}
.red-line {
  position: absolute;
  top: 433px;
}
.Portfolio {
  width: 1300px;
  height: 1163px;
  left: 121px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}
.Portfolio-text {
  padding: 26px;
}
.Portfolio h3 {
  color: red;
}
.Portfolio h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}
.Portfolio p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.Portfolio-image {
  display: flex;

  justify-content: space-around;
}
.Portfolio-image img {
  padding: 0.6rem;
}
.Subscribe {
  position: relative;
  margin-top: 20px;
  text-align: center;
  width: 1300px;
  height: 482px;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
}
.Subscribe-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Subscribe input {
  padding: 12px 20px;
  border-radius: 50px;
}
.Subscribe button {
  margin: auto;
  max-width: 300px;
  padding: 12px 20px;
  border-radius: 50px;
  background-color: red;
  margin-top: 10px;
}
.footer-content {
  position: relative;
  margin-top: 20px;
  text-align: center;
  width: 1300px;
  height: 482px;
  border-radius: 16px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 50px;
  text-align: left;
}
.footer-icon {
  display: flex;
  color: white;
  justify-content: center;
  margin-top: 50px;
}
.footer-icon i {
  border: 2px solid wheat;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.footer-text {
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 50px;
  margin-top: 120px;
  text-align: left;
}
